@charset "UTF-8";
@import 'animation';
@import 'variables';

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  font-family: "Roboto";
}

h4 {
  margin: 0;
}


/*****Booking*******/

.Booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
  background-color: whitesmoke;
  text-align: center;
}

.Booking__btn {
  width: 270px;
  height: 60px;
}

.Booking__title {
  width: 70%;
  margin: 10px 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}

.Booking p {
  width: 85%;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.Booking__btn {
  width: 240px;
  height: 55px;
  color: #ffffff;
  font-size: 16px;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  cursor: pointer;
  margin: 27px 75px 57px 82px;
  transition: opacity 300ms ease-in-out;
}

.Booking__btn {
  min-width: 150px;
  max-width: 250px;
}

.Booking__btn:hover {
  opacity: 0.88;
  box-shadow: 0 4px 10px 0 #afafaf;
}

/****localisation******/

.info__location {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: inset 0 10px 8px -5px #d5d5d5;
  gap: 17px;
}

.info__city {
  border: transparent;
  background-color: #EAEAEA;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  width: 128px;
}

/************fonctionnement***********/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.fonctionnement {
  font-family: "Roboto";
  counter-reset: my-sec-counter;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}

.fonctionnement li::before {
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter);
  background-color: #9356dc;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  position: absolute;
  left: -1rem;
  top: 50%;
  border-radius: 50%;
  transform: translatey(-50%);
}

@media (min-width: 767px) {
  .fonctionnement {
    padding: 3rem 2rem;
  }
}
.fonctionnement ol {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5625rem;
  justify-content: center;
}

@media (min-width: 320px) {
  .fonctionnement ol {
    display: flex;
    flex-direction: column;
    margin-right: 1.25rem;
    margin-left: 2rem;
  }
}

@media (min-width: 1024px) {
  .fonctionnement ol {
    display: flex;
    flex-direction: row;
    margin-right: 1.25rem;
    margin-left: 2rem;
  }
}

.fonctionnement li {
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  height: 4.52369rem;
  flex-grow: 1;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 767px) {
  .fonctionnement .title {
    margin-right: 1.25rem;
    margin-left: 2rem;
  }
}
.section-title {
  padding: 1rem;
}

@media (min-width: 767px) {
  .section-title {
    margin-left: 10.25rem;
  }
}
.fonctionnement li i {
  color: black;
  padding: 0.5rem;
  padding-left: 1rem;
}

.fonctionnement li .micon {
  color: #7e7e7e;
}

.fonctionnement .iconcolor {
  color: #9356dc;
}

@media (min-width: 320px) {
  .fonctionnement h3 {
    font-size: 15px;
  }
}
/****************RESTAURANT**************/
.restaurent {
  background-color: #f6f6f6;
  width: 100%;
  padding: 40px 0;
}

.restaurent_card .new {
  position: relative;
}

.restaurent_card .new::before {
  width: 5rem;
  height: 1.8125rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "Nouveau";
  top: 1rem;
  right: 1rem;
  color: #008766;
  background: #99E2D0;
}

.card__image img {
  height: 15rem;
  background-size: cover;
  width: 100%;
  border-top-right-radius: 0.9375rem;
  border-top-left-radius: 0.9375rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.card {
  border-radius: 0.9375rem;
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.card-title {
  font-family: "Roboto";
}

.card-content {
  position: relative;
  padding: 1rem;
  font-family: "Roboto";
}

.card-content h3,
.card-content p {
  margin: 0;
  position: relative;
}

.restaurent_card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 1rem auto;
  width: 100%;
  max-width: 1200px;
}

@media (min-width: 1024px) {
  .restaurent_card {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .restaurent_card {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
  }
}
.restaurent .title {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 22px;
}

/* ********** Les blocs de cœur ********** */

/* Style de base pour les blocs contenant les cœurs */
.heart-bloc, .heart-bloc1 {
  width: 22px; /* Largeur du bloc */
  height: 22px; /* Hauteur du bloc */
  font-size: 22px; /* Taille de la police (pour d'éventuels caractères ou icônes de cœur) */
  position: absolute; /* Positionnement absolu pour placement précis */
  cursor: pointer; /* Changement du curseur pour indiquer l'interactivité */
}

/* Positionnement spécifique pour les cœurs des images */
.heart-bloc {
  top: 10px; /* Positionnement du haut */
  right: 10px; /* Positionnement de la droite */
}

/* Positionnement spécifique pour les cœurs du titre */
.heart-bloc1 {
  top: 25px; /* Positionnement du haut */
  margin-left: 18rem; /* Marge à gauche pour ajuster la position */
}

/* Gradient appliqué aux cœurs */
.heart-bloc .heart-gradient, .heart-bloc1 .heart-gradient {
  position: absolute; /* Positionnement absolu pour placement précis */
  top: 0px; /* Positionnement du haut */
  left: 0px; /* Positionnement de la gauche */
  opacity: 0; /* Initialement transparent */
  background: linear-gradient(#9356DC, #FF79DA); /* Dégradé de couleurs */
  -webkit-background-clip: text; /* Clip le fond au texte (support Webkit) */
  background-clip: text; /* Clip le fond au texte */
  color: transparent; /* Texte transparent pour voir le dégradé */
}

/* Style de base pour les icônes de cœur */
.heart-bloc .heart, .heart-bloc1 .heart {
  position: absolute; /* Positionnement absolu pour placement précis */
  top: 0px; /* Positionnement du haut */
  left: 0px; /* Positionnement de la gauche */
}

/* Animation et transition lors du survol du cœur */
.heart-bloc:hover > .heart-gradient, .heart-bloc1:hover > .heart-gradient {
  opacity: 1; /* Rendre visible */
  transition: opacity 500ms; /* Transition d'opacité */
  transform-origin: center bottom; /* Point d'origine de transformation */
  animation-name: anim-heart; /* Nom de l'animation */
  animation-duration: 500ms; /* Durée de l'animation */
}

/*******footer*****/

.footer {
  width: 100%;
  padding: 22px 25px;
  background-color: #404040;
  color: #ffffff;
  font-family: "";
}

@media all and (min-width: 1024px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }
}

.footer p {
  margin: 5px 0;
}

.footer__logo {
  margin: 0 0 16px 0;
  font-size: 18px;
  font-family: "Shrikhand", cursive;
}

@media all and (min-width: 1024px) {
  .footer__logo {
    width: 137px;
    margin: 0;
  }
}

.footer__bloc {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1024px) {
  .footer__bloc {
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }
}

.footer__nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 7px;
}

@media all and (min-width: 1024px) {
  .footer__nav {
    width: 190px;
  }
}

.footer__nav--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 13px;
  font-size: 13px;
}

@media all and (min-width: 1024px) {
  .footer__nav--info p {
    width: 112px;
    height: 20px;
  }
}

/*********les 4 menu restaurants***************/

.menu-cover {
  width: 100%;
}



@media (min-width: 768px) {
  .menu-cover img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 22rem;
  }
}
.menu-cover img {
  background-size: cover;
  width: 100%;
}

.menus {
  position: relative;
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  margin-top: -4rem;
  background: #f6f6f6;
  overflow: hidden; 
}

@media (min-width: 1444px) {
  .menus {
    margin-left: 13rem;
    margin-right: 13rem;
  }
}
.menus .title {
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.menus .title h2 {
  margin-bottom: 0;
}

.menus .container .entry {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 0.75rem;
  opacity: 0;
  transform: translateY(30px);
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  /* Définir une animation pour faire glisser le contenu vers le haut tout en augmentant l'opacité */
  0% {
    opacity: 0; /* Début de l'animation, complètement transparent */
    transform: translateY(30px); /* Début de l'animation, déplacé de 30px vers le bas */
  }
  100% {
    opacity: 1; /* Fin de l'animation, complètement opaque */
    transform: translateY(0); /* Fin de l'animation, position normale */
  }
}

.menus .container .entry:nth-of-type(1) {
  /* Appliquer un délai d'animation au premier élément entry */
  animation-delay: 0.5s; /* Délai de 0,5 seconde avant de commencer l'animation */
}

.menus .container .entry:nth-of-type(2) {
  /* Appliquer un délai d'animation au deuxième élément entry */
  animation-delay: 2s; /* Délai de 2 secondes avant de commencer l'animation */
}

.menus .container .entry:nth-of-type(3) {
  /* Appliquer un délai d'animation au troisième élément entry */
  animation-delay: 3.5s; /* Délai de 3,5 secondes avant de commencer l'animation */
}

.menus .container .entry .menu-title {
  /* Styles pour le titre du menu à l'intérieur de chaque élément entry */
  margin: 0; /* Réinitialiser la marge à zéro */
  padding-top: 2rem; /* Ajouter un remplissage en haut de 2 rem */
}


@media (min-width: 1444px) {
  .menus .container .entry .menu-title {
    margin-left: 13rem;
    margin-right: 13rem;
  }
}
@media (min-width: 767px) {
  .menus .container .entry .menu-title {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}
.menus .container .entry .menu-title .line {
  position: absolute;
  background: #99e2d0;
  transform: translateY(-1rem);
  width: 2.5rem;
  height: 0.1875rem;
}

.menus .container .entry .card {
  overflow: hidden;
  display: flex;
  padding: 1rem;
  border-radius: 0.9375rem;
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 300ms;
  animation: appear 1s both;
}

.menus .container .entry .card-item {
  margin: 0;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}
/******** partie ellipsis small device ******/

/* Pour les écrans de taille smartphone (320px) jusqu'à 767px */
/* Appliquer les styles de base pour les écrans de petite taille (320px) */
.menus .container .entry .card-item,
.menus .container .entry .card-item p,
.menus .container .entry .card-item h3 {
  white-space: nowrap; /* Empêcher le texte de passer à la ligne suivante */
  overflow: hidden; /* Masquer le texte qui dépasse la largeur du conteneur */
  text-overflow: ellipsis; /* Ajouter des points de suspension (...) pour indiquer le texte coupé */
}

/* Pour les écrans à partir de 768px et plus */
@media (min-width: 768px) {
  .menus .container .entry .card-item p,
  .menus .container .entry .card-item h3 {
    white-space: normal; /* Permettre au texte de passer à la ligne suivante */
    overflow: visible; /* Afficher tout le contenu, même s'il dépasse le conteneur */
    text-overflow: clip; /* Couper le texte sans ajouter de points de suspension */
  }
}

@media (min-width: 768px)  {
  .menus .container .entry .menu-title {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .menus .container .entry .card {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
@media (min-width: 1024px) {
  .menus .container .entry .menu-title {
    margin-left: 13rem;
    margin-right: 13rem;
  }
  .menus .container .entry .card {
    margin-left: 13rem;
    margin-right: 13rem;
  }
}
.menus .container .entry .card p,
.menus .container .entry .card h3 {
  margin: 0;
}

.menus .container .entry .card .euro {
  margin-left: auto;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5rem;
}

.menus .container .entry .card .menu-item-check {
  background: #99E2D0;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  border-top-right-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  margin: -1rem -5rem -1rem 1rem;
}

.menus .container .entry .card:hover .menu-item-check {
  margin-right: -1rem;
}

.menus .container .entry .card .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  color: #99e2d0;
  background: #f6f6f6;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */

