
// Mixin for flex container
@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // Mixin for button styling
  @mixin button-styles {
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
  }
  
  