// Couleurs
$White: #fff;
$Black: #000;
$Gray: #7e7e7e;
$LightGray: #ebebeb;
$DarkGray: #d5d5d5;
$Green: #008766;
$Purple: #9356dc;
$Pink: #ff79da;
$LightPurple: #99e2d0;

// Tailles
$ButtonWidth: 240px;
$ButtonHeight: 55px;

// Ombres
$BoxShadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
$ButtonHoverShadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
